body {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  position: relative;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
