:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #fff5f6;
  --hero-and-ice-cream-bg-color: #ffb8ca;
  --color-hero-elips-and-label-and-time: #ffa5ba;
  --bg-color-ice-coffe-and-cafe: #f0d1a5;
  --bg-color-milkshakes-and-food-truck: #c2e297;
  --bg-color-revues: #fafafa;
  --bg-color-revues-circle: #d9d9d9;
  --bg-color-revues-point: #c7133e;
  --bg-color-revues-house: #d31342;
  --accent-color: #d41443;
  --secondary-text-color: #907e82;
  --main-text-color: #000000;
  --text-color-white: #ffffff;
  --hover-bg-color-button: #ecebeb;
  --footer-bg-color-button: #d41342;
  --footer-bg-color-button-hover: #d4134280;
  --bg-color-link-socials: #fea5bb;
  --color-textarea: rgba(117, 117, 117, 0.5);
  --mobile-menu-bg-color: #e17992;
  --footer-border-color: #e1e1e1;
}
