<section class="section about" id="about">
  <div class="container">
    <span
      class="title title--smaller about__mb-small animate__animated animate__fadeInDown"
      >Tradition and love
    </span>
    <h2 class="title about__mb-big animate__animated animate__fadeInDown">
      How it’s made?
    </h2>

    <div class="about__thumb">
      <picture class="about__image animate__animated animate__fadeInLeft">
        <source
          srcset="
            ./images/about/cow1200.webp     501w,
            ./images/about/cow1200@2x.webp 1002w
          "
          media="(min-width: 1200px)"
          type="image/webp"
          sizes="(min-width: 1200px) 501px, 50vw"
        />
        <source
          srcset="
            ./images/about/cow1200.png     501w,
            ./images/about/cow1200@2x.png 1002w
          "
          media="(min-width: 1200px)"
          type="image/png"
          sizes="(min-width: 1200px) 501px, 50vw"
        />
        <source
          srcset="
            ./images/about/cow768.webp    336w,
            ./images/about/cow768@2x.webp 672w
          "
          media="(min-width: 768px)"
          type="image/webp"
          sizes="(min-width: 768px) 336px, 50vw"
        />
        <source
          srcset="
            ./images/about/cow768.png    336w,
            ./images/about/cow768@2x.png 672w
          "
          media="(min-width: 768px)"
          type="image/png"
          sizes="(min-width: 768px) 336px, 50vw"
        />
        <source
          srcset="
            ./images/about/cow320.webp    280w,
            ./images/about/cow320@2x.webp 560w
          "
          media="(min-width: 320px)"
          type="image/webp"
          sizes="(min-width: 320px) 280px, 100vw"
        />
        <source
          srcset="
            ./images/about/cow320.png    280w,
            ./images/about/cow320@2x.png 560w
          "
          media="(min-width: 320px)"
          type="image/png"
          sizes="(min-width: 320px) 280px, 100vw"
        />

        <img src="./images/about/cow320.png" alt="Корова + молоко" />
      </picture>

      <div class="about__holder">
        <div class="about__container">
          <p
            class="about__text animate__animated animate__zoomIn animate__delay-0.25s"
          >
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
          <p
            class="about__text about__text--lighter animate__animated animate__zoomIn animate__delay-0.5s"
          >
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>
          <p
            class="about__text about__text--lighter animate__animated animate__zoomIn animate__delay-0.75s"
          >
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button
            class="button about__button animate__animated animate__zoomIn animate__delay-1s"
            type="button"
            data-open-about
          >
            <span class="button__text">Read more</span>
            <svg
              class="button__icon button__icon--right"
              width="6px"
              height="10px"
            >
              <use
                href="./images/Sprite/icons.svg#icon-arrow-right_buttons-red"
              ></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="backdrop is-hidden" data-about>
      <div class="modal">
        <button type="button" class="modal__close-button" data-close-about>
          <svg width="18" height="18" class="icon">
            <use href="./images/Sprite/icons.svg#icon-close-button"></use>
          </svg>
        </button>
        <div class="modal__inner">
          <h2 class="title modal__title">A little more about us</h2>
          <p class="modal__text">Fumenda sint optio nulla totam nostrum.</p>
          <p class="modal__text">
            Officiis dolore, voluptatum in harum obcaecati iste asperiores
            nostrum! Tempore, consectetur id? Voluptates amet perferendis
            consectetur nulla?
          </p>
          <p class="modal__text">
            laboriosam earum fuga sed consequuntur dolorum rem voluptates
            perspiciatis exercitationem nam, molestiae modi similique quasi
            voluptatum praesentium. Culpa ducimus dolores odit consequuntur
            possimus error, libero iste tempore corrupti! Tenetur excepturi
            necessitatibus praesentium aut rem quisquam magni ipsum, nobis,
            similique facilis asperiores aspernatur? Quia magni accusantium
            neque commodi labore sunt distinctio aliquid, placeat ipsum quisquam
            nobis id voluptate perspiciatis?
          </p>
          <p class="modal__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            incidunt magni doloremque alias cumque a enim iusto optio iure
            exercitationem. Corrupti sit itaque quam, atque rerum officiis enim!
            Eos, veritatis!
          </p>
          <p class="modal__text">
            Tempore incidunt minima culpa odio ipsum at perspiciatis similique
            sunt earum, necessitatibus eligendi accusantium. Voluptas eius
            aliquid saepe in esse velit laborum omnis quas. Aut aperiam
            aspernatur molestiae corporis quidem ut, odio ipsa aliquam, voluptas
            distinctio praesentium voluptatem. Aliquam asperiores excepturi
            veniam adipisci, minus enim obcaecati consectetur doloremque
            repudiandae, hic veritatis expedita est sit? Magni est dolorem
            asperiores pariatur amet saepe corporis eius excepturi minima,
            officiis, molestias nobis reiciendis alias totam ratione! Officiis
            dolore, voluptatum in harum obcaecati iste asperiores nostrum!
            Tempore, consectetur id? Voluptates amet perferendis consectetur
            nulla?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
