<section class="section advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>

    <ul class="advantages__list">
      <li class="advantages__item advantages__item--bucket">
        <b class="advantages__number">721</b>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--apples">
        <b class="advantages__number">16kg</b>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--ice">
        <b class="advantages__number">84</b>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
