<section class="section contacts">
    <div class="container container-tablet">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contact-cards">
            <li class="contact-cards__item">
                <p class="contact-cards__categories">Cafe</p>
                <div class="contact-cards__block">
                    <p class="contact-cards__town">Chicago</p>
                    <p class="contact-cards__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact-cards__block">
                    <p class="contact-cards__day">Monday - Friday</p>
                    <p class="contact-cards__time contact-cards__time--distant">
                        <time>06:00 AM - 10:00 PM</time>
                    </p>

                    <p class="contact-cards__day">Saturday - Sunday</p>
                    <p class="contact-cards__time">
                        <time>08:00 AM - 16:00 PM</time>
                    </p>
                </div>
                <div class="contact-cards__link">
                    <ul>
                        <li>
                            <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contact-cards__item">
                <p class="contact-cards__categories contact-cards__categories--bggreen">Foodtruck</p>
                <div class="contact-cards__block">
                    <p class="contact-cards__town">Los Angeles</p>
                    <p class="contact-cards__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact-cards__block">
                    <p class="contact-cards__day">Monday - Friday</p>
                    <p class="contact-cards__time contact-cards__time--distant">
                        <time>06:00 AM - 10:00 PM</time>
                    </p>

                    <p class="contact-cards__day">Saturday - Sunday</p>
                    <p class="contact-cards__time">
                        <time>08:00 AM - 16:00 PM</time>
                    </p>
                </div>
                <div class="contact-cards__link">
                    <ul>
                        <li>
                            <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contact-cards__item">
                <p class="contact-cards__categories">Cafe</p>
                <div class="contact-cards__block">
                    <p class="contact-cards__town">New York</p>
                    <p class="contact-cards__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact-cards__block">
                    <p class="contact-cards__day">Monday - Friday</p>
                    <p class="contact-cards__time contact-cards__time--distant">
                        <time>06:00 AM - 10:00 PM</time>
                    </p>

                    <p class="contact-cards__day">Saturday - Sunday</p>
                    <p class="contact-cards__time">
                        <time>08:00 AM - 16:00 PM</time>
                    </p>
                </div>
                <div class="contact-cards__link">
                    <ul>
                        <li>
                            <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="contact-button">
            <button class="button contact-button--alternative" type="button" data-modal-open1>Our Locations
                <svg class="button__icon--white" width="6px" height="10px">
                    <use href="./images/Sprite/icons.svg#icon-arrow-right_buttons"></use>
                </svg>
            </button>
            <button class="button contact-button" type="button" data-modal-open2>Franchise
                <svg class="button__icon--red" width="6px" height="10px">
                    <use href="./images/Sprite/icons.svg#icon-arrow-right_buttons"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="backdrop is-hidden" data-modal1>
        <div class="qwe1 modal container">
            <button data-modal-close1 type="button">
                close
            </button>
            <h2 class="modal__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quia minima,
                magni quas eaque, necessitatibus, deserunt animi expedita sequi voluptatum ex quisquam dolorum
                repellendus aperiam magnam quis ea debitis illo.</h2>
        </div>
    </div>
    <div class="backdrop is-hidden" data-modal2>
        <div class="qwe2 modal container">
            <button data-modal-close2 type="button">
                close
            </button>
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem excepturi eligendi suscipit quos, autem itaque libero alias eum modi blanditiis.</h2>
        </div>
    </div>
   
</section>