<section id="contacts" class="section contacts">
    <div class="container container-tablet">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contact-cards">
            <li class="contact-cards__item">
                <p class="contact-cards__categories">Cafe</p>
                <div class="contact-cards__block">
                    <p class="contact-cards__town">Chicago</p>
                    <p class="contact-cards__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact-cards__block">
                    <ul>
                        <li class="contact-cards__block--distant">
                            <p class="contact-cards__day">Monday - Friday</p>
                            <p class="contact-cards__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="contact-cards__day">Saturday - Sunday</p>
                            <p class="contact-cards__time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>                   
                </div>
                <div class="contact-cards__link">
                    <ul>
                        <li>
                            <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contact-cards__item">
                <p class="contact-cards__categories contact-cards__categories--bggreen">Foodtruck</p>
                <div class="contact-cards__block">
                    <p class="contact-cards__town">Los Angeles</p>
                    <p class="contact-cards__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact-cards__block">
                    <ul>
                        <li class="contact-cards__block--distant">
                            <p class="contact-cards__day">Monday - Friday</p>
                            <p class="contact-cards__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="contact-cards__day">Saturday - Sunday</p>
                            <p class="contact-cards__time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contact-cards__link">
                    <ul>
                        <li>
                            <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contact-cards__item">
                <p class="contact-cards__categories">Cafe</p>
                <div class="contact-cards__block">
                    <p class="contact-cards__town">New York</p>
                    <p class="contact-cards__street">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact-cards__block">
                    <ul>
                        <li class="contact-cards__block--distant">
                            <p class="contact-cards__day">Monday - Friday</p>
                            <p class="contact-cards__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="contact-cards__day">Saturday - Sunday</p>
                            <p class="contact-cards__time">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contact-cards__link">
                    <ul>
                        <li>
                            <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="contact-button">
            <ul class="contact-button__list">               
                <li class="contact-button__item">
                    <button class="button contact-button__alternative" type="button" data-modal-open1>Our Locations
                        <svg class="contact-button__icon" width="6px" height="10px">
                            <use href="./images/Sprite/icons.svg#icon-arrow-right_buttons-white"></use>
                        </svg>
                    </button>
                </li>
                <li class="contact-button__item">
                    <button class="button" type="button" data-modal-open2>Franchise
                        <svg class="contact-button__icon" width="6px" height="10px">
                            <use href="./images/Sprite/icons.svg#icon-arrow-right_buttons-red"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="backdrop is-hidden" data-modal1>
        <div class="modal-one modal container">
            <button data-modal-close1 type="button" class="close-button">
                <svg class="" width="11px" height="11px">
                    <use href="./images/Sprite/icons.svg#close-button"></use>
                </svg>
            </button>
            <div class="maps">
                <ul class="maps__list">
                    <li class="maps__item">
                        <p>Chicago</p>
                        <iframe class="maps__town"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d159977.37094563368!2d-87.87833993626928!3d41.83696862938843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDSkdC-LCDQhtC70LvRltC90L7QudGBLCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1660401278309!5m2!1suk!2sua"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </li>
                    <li class="maps__item">
                       <p>LosAngeles</p>
                        <iframe class="maps__town"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89044.72901778901!2d-118.43440167550139!3d33.96312421168516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9GW0YTQvtGA0L3RltGPLCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1660388273704!5m2!1suk!2sua"
                             style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </li>
                    <li class="maps__item">
                        <p>NewYork</p>
                        <iframe class="maps__town"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d136880.69948156807!2d-74.09583136924113!3d40.70338137700003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1660388454788!5m2!1suk!2sua"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </li>
                </ul>                  
                </div>
            </div>          
    </div>
    <div class="backdrop is-hidden" data-modal2>
        <div class="modal-two modal container">
            <button data-modal-close2 type="button" class="close-button">
                <svg class="" width="11px" height="11px">
                    <use href="./images/Sprite/icons.svg#close-button"></use>
                </svg>
            </button>
            <h2 class="modal-two__title">Список розробників</h2>
            <ul class="modal-two__list">
                <li class="modal-two__name">
                    Header: Соломаха Владислав
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="modal-two__name">
                    Hero-section: Рудь Олександр
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="modal-two__name">
                    Products-section: Крятов Артем
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="modal-two__name">
                    About-section: Загоруй Алеся
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="modal-two__name">
                    Advantages-section: Горбачов Артем
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="modal-two__name">
                    Gallery-section: Максим Миколайович
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="modal-two__name">
                    Customer: Reviews-section Пасічник Василь
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="modal-two__name">
                    Contacts-section: Возний Андрій
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="modal-two__name">
                    Footer: Зибюк Олександр
                    <div class="contact-cards__link">
                        <ul>
                            <li>
                                <a class="contact-cards__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contact-cards__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>