<section class="section customer-reviews">
    <div class="container customer-reviews">
        <h2 class="customer-reviews__head">Customer reviews</h2>
        <div class="customer-reviews__list one-time">
            <div class="customer-reviews__item">
                <img class="customer-reviews__photo" src="./images/customer-reviews/testimonials.png" alt="customer">
                <div class="customer-reviews__post">
                    <p class="customer-reviews__text"><span class="customer-reviews__arrow">Nullam</span> viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <span class="customer-reviews__dots"></span>
                <p class="customer-reviews__contacts">Emily, Los Angeles</p>
            </div>
            <div class="customer-reviews__item">
                <img class="customer-reviews__photo" src="./images/customer-reviews/testimonials_2.png" alt="customer">
                <div class="customer-reviews__post">
                     <p class="customer-reviews__text"><span class="customer-reviews__arrow">Nullam</span> viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <span class="customer-reviews__dots"></span>
                <p class="customer-reviews__contacts">Emily, Los Angeles</p>
            </div>
            <div class="customer-reviews__item">
                <img class="customer-reviews__photo" src="./images/customer-reviews/testimonials_3.png" alt="customer">
                <div class="customer-reviews__post">
                     <p class="customer-reviews__text"><span class="customer-reviews__arrow">Nullam</span> viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <span class="customer-reviews__dots"></span>
                <p class="customer-reviews__contacts">Emily, Los Angeles</p>
            </div>
        </div>
        <svg class="customer-reviews__icon" aria-hidden="true" width="12px" height="9.82px">
            <use class="customer-reviews__use" href="./images/Sprite/icons.svg#icon-home"></use>
        </svg>
    </div>

</section>