<section class="section customer-reviews" id="customer-reviews">
  <div class="container customer-reviews">
    <h2 class="customer-reviews__head">Customer reviews</h2>
    <div class="customer-reviews__list one-time">
      <div class="customer-reviews__item">
        <picture>
          <source
            srcset="
              ./images/customer-reviews/testimonials.webp    1x,
              ./images/customer-reviews/testimonials@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/customer-reviews/testimonials.png    1x,
              ./images/customer-reviews/testimonials@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="customer-reviews__photo"
            src="./images/customer-reviews/testimonials.png"
            alt="customer"
          />
        </picture>
        <div class="customer-reviews__post">
          <p class="customer-reviews__text">
            <!-- <span class="customer-reviews__arrow">Nullam</span> -->
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="customer-reviews__dots"></span>
        <p class="customer-reviews__contacts">Emily, Los Angeles</p>
      </div>
      <div class="customer-reviews__item">
        <picture>
          <source
            srcset="
              ./images/customer-reviews/testimonials_2.webp    1x,
              ./images/customer-reviews/testimonials_2@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/customer-reviews/testimonials_2.png    1x,
              ./images/customer-reviews/testimonials_2@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="customer-reviews__photo"
            src="./images/customer-reviews/testimonials_2.png"
            alt="customer"
          />
        </picture>
        <div class="customer-reviews__post">
          <p class="customer-reviews__text">
            <span class="customer-reviews__arrow">Nullam</span> viverra
            consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
            nibh vel risus.
          </p>
        </div>
        <span class="customer-reviews__dots"></span>
        <p class="customer-reviews__contacts">Emily, Los Angeles</p>
      </div>
      <div class="customer-reviews__item">
        <picture>
          <source
            srcset="
              ./images/customer-reviews/testimonials_3.webp    1x,
              ./images/customer-reviews/testimonials_3@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/customer-reviews/testimonials_3.png    1x,
              ./images/customer-reviews/testimonials_3@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="customer-reviews__photo"
            src="./images/customer-reviews/testimonials_3.png"
            alt="customer"
          />
        </picture>
        <div class="customer-reviews__post">
          <p class="customer-reviews__text">
            <span class="customer-reviews__arrow">Nullam</span> viverra
            consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
            nibh vel risus.
          </p>
        </div>
        <span class="customer-reviews__dots"></span>
        <p class="customer-reviews__contacts">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
