<section class="section customer-reviews">
    <div class="container customer-reviews">
        <h2 class="customer-reviews__head">Customer reviews</h2>
        <div class="customer-reviews__list one-time">
            <div class="customer-reviews__item">
                <img class="customer-reviews__photo" src="./images/customer-reviews/testimonials.png" alt="customer"
                    width="85px" height="85px">
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="customer-reviews__contacts">Emily, Los Angeles</p>
            </div>
            <div class="customer-reviews__item">
                <img class="customer-reviews__photo" src="./images/customer-reviews/testimonials.png" alt="customer"
                    width="85px" height="85px">
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="customer-reviews__contacts">Emily, Los Angeles</p>
            </div>
            <div class="customer-reviews__item">
                <img class="customer-reviews__photo" src="./images/customer-reviews/testimonials.png" alt="customer"
                    width="85px" height="85px">
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="customer-reviews__contacts">Emily, Los Angeles</p>
            </div>
        </div>
    </div>

</section>