<footer class="footer">
    <div class="container footer__container">
        <!-- text 1 и теxt2 это один заголовок h2,  -->
        <div class="title text1">
            <span class="title title--smaller footer__text-small">
                Homemade ice cream made
            </span>
            <span class="footer__text-big text2">
                with passion
            </span>
        </div>
        <div class="footer__contact">
            <ul class="social-list social-list--footer">
                <li class="social-list__item social-list__item--footer">
                    <a class="social-list__link" href="https://github.com/" target="_blank">
                        <svg class="social-list__icon icon" width=" 34" height=" 34">
                            <use href="./images/Sprite/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://t.me/username" target="_blank">
                        <svg class="social-list__icon icon" width=" 34" height="34">
                            <use href="./images/Sprite/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.facebook.com" target="_blank">
                        <svg class="social-list__icon icon" width=" 34" height="34">
                            <use href="./images/Sprite/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="tel">Feel free to contact <a href="tel:+610383766284" class="address__link">+61 (0) 383 766
                    284</a></p>
        </div>
    </div>
    <div class="footer__copydiv">
        <span class="footer__copy">&copy; 2022 - IceCream. All Rights Reserved.</span>
    </div>
</footer>