<section class="gallery section">
  <h2 class="title visually-hidden">Gallery</h2>
  <div class="gallery__container">
    <div class="grid">
      <!-- Первая картинка -->
      <div class="grid-item grid-item--position1">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery1_desktop.webp    1x,
              ./images/gallery/gallery1_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery1_desktop.jpg    1x,
              ./images/gallery/gallery1_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery1_tablet.webp    1x,
              ./images/gallery/gallery1_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery1_tablet.jpg    1x,
              ./images/gallery/gallery1_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery1_mobile.webp    1x,
              ./images/gallery/gallery1_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery1_mobile.jpg    1x,
              ./images/gallery/gallery1_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery1_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Вторая картинка -->
      <div class="grid-item grid-item--position2">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery2_desktop.webp    1x,
              ./images/gallery/gallery2_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery2_desktop.jpg    1x,
              ./images/gallery/gallery2_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery2_tablet.webp    1x,
              ./images/gallery/gallery2_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery2_tablet.jpg    1x,
              ./images/gallery/gallery2_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery2_mobile.webp    1x,
              ./images/gallery/gallery2_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery2_mobile.jpg    1x,
              ./images/gallery/gallery2_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery2_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Третья картинка -->
      <div class="grid-item grid-item--position3 grid-item--width2">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery4_desktop.webp    1x,
              ./images/gallery/gallery4_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery4_desktop.jpg    1x,
              ./images/gallery/gallery4_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery4_tablet.webp    1x,
              ./images/gallery/gallery4_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery4_tablet.jpg    1x,
              ./images/gallery/gallery4_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery4_mobile.webp    1x,
              ./images/gallery/gallery4_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery4_mobile.jpg    1x,
              ./images/gallery/gallery4_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery4_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Четвертая картинка -->
      <div class="grid-item grid-item--position4">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery6_desktop.webp    1x,
              ./images/gallery/gallery6_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery6_desktop.jpg    1x,
              ./images/gallery/gallery6_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery6_tablet.webp    1x,
              ./images/gallery/gallery6_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery6_tablet.jpg    1x,
              ./images/gallery/gallery6_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery6_mobile.webp    1x,
              ./images/gallery/gallery6_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery6_mobile.jpg    1x,
              ./images/gallery/gallery6_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery6_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Пятая картинка -->
      <div class="grid-item grid-item--position5">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery8_desktop.webp    1x,
              ./images/gallery/gallery8_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery8_desktop.jpg    1x,
              ./images/gallery/gallery8_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery8_tablet.webp    1x,
              ./images/gallery/gallery8_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery8_tablet.jpg    1x,
              ./images/gallery/gallery8_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery8_mobile.webp    1x,
              ./images/gallery/gallery8_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery8_mobile.jpg    1x,
              ./images/gallery/gallery8_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery8_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Шестая картинка -->
      <div class="grid-item grid-item--position6">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery10_desktop.webp    1x,
              ./images/gallery/gallery10_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery10_desktop.jpg    1x,
              ./images/gallery/gallery10_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery10_tablet.webp    1x,
              ./images/gallery/gallery10_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery10_tablet.jpg    1x,
              ./images/gallery/gallery10_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery10_mobile_320.webp    1x,
              ./images/gallery/gallery10_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery10_mobile_320.jpg    1x,
              ./images/gallery/gallery10_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery10_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Седьмая картинка -->
      <div class="grid-item grid-item--position7">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery3_desktop.webp    1x,
              ./images/gallery/gallery3_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery3_desktop.jpg    1x,
              ./images/gallery/gallery3_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery3_tablet.webp    1x,
              ./images/gallery/gallery3_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery3_tablet.jpg    1x,
              ./images/gallery/gallery3_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery3_mobile.webp    1x,
              ./images/gallery/gallery3_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery3_mobile.jpg    1x,
              ./images/gallery/gallery3_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery3_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Восьмая картинка -->
      <div class="grid-item grid-item--position8">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery5_desktop.webp    1x,
              ./images/gallery/gallery5_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery5_desktop.jpg    1x,
              ./images/gallery/gallery5_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery5_tablet.webp    1x,
              ./images/gallery/gallery5_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery5_tablet.jpg    1x,
              ./images/gallery/gallery5_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery5_mobile.webp    1x,
              ./images/gallery/gallery5_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery5_mobile.jpg    1x,
              ./images/gallery/gallery5_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery5_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Девятая картинка -->
      <div class="grid-item grid-item--position9">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery7_desktop.webp    1x,
              ./images/gallery/gallery7_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery7_desktop.jpg    1x,
              ./images/gallery/gallery7_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery7_tablet.webp    1x,
              ./images/gallery/gallery7_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery7_tablet.jpg    1x,
              ./images/gallery/gallery7_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery7_mobile.webp    1x,
              ./images/gallery/gallery7_mobile@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery7_mobile.jpg    1x,
              ./images/gallery/gallery7_mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery7_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
      <!-- Десятая картинка -->
      <div class="grid-item grid-item--position10">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery9_desktop.webp    1x,
              ./images/gallery/gallery9_desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery9_desktop.jpg    1x,
              ./images/gallery/gallery9_desktop@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery9_tablet.webp    1x,
              ./images/gallery/gallery9_tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery9_tablet.jpg    1x,
              ./images/gallery/gallery9_tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery9_mobile.webp 1x,
              ./images/gallery/gallery9_mobile@2x.webp  2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/gallery/gallery9_mobile.jpg 1x,
              ./images/gallery/gallery9_mobile@2x.jpg  2x
            "
            type="image/jpeg"
            media="(min-width: 320px)"
          />
          <img
            class="img gallery__img"
            src="./images/gallery/gallery9_desktop.jpg"
            alt="Два мороженых на палочке в тарелке"
            width="138"
            height="138"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
