<header class="page-header">
  <div class="container page-header__inner">
    <a href="" class="logo page-header__logo">
      <picture>
        <source
          srcset="./images/header/logo.webp 2x, ./images/header/logo@2x.webp 1x"
          type="image/webp"
        />
        <source srcset="./images/header/logo@2x.png 2x" type="image/jpg" />
        <img
          width="199"
          height="50"
          class="page-header__image"
          src="./images/header/logo.png"
          alt="logo"
        />
      </picture>
    </a>
    <div class="page-header__desktop-menu">
      <nav>
        <ul class="site-nav">
          <li class="site-nav__item">
            <a href="" class="link site-nav__link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="link site-nav__link">About us</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="link site-nav__link">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="link site-nav__link">Our products</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="link site-nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <button class="button page-header__button">
        Buy now
        <svg width="8" height="9" class="icon button__icon button__icon--right">
          <use href="./images/sprite/icons.svg#icon-vector-right"></use>
        </svg>
      </button>
    </div>
    <button class="button page-header__tablet-button">
      Buy now
      <svg width="8" height="9" class="icon button__icon button__icon--right">
        <use href="./images/sprite/icons.svg#icon-vector-right"></use>
      </svg>
    </button>

    <button
      class="page-header__open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-mobile-menu-open
    >
      <img
        src="./images/header/burger.png"
        alt="burger"
        class="page-header__image"
        width="20"
        height="12"
      />
    </button>

    <!-- <div
      id="mobile-menu"
      class="page-header__mobile-menu mobile-menu is-hidden"
      data-mobile-menu
    >
      <button
        class="page-header__close-menu"
        type="button"
        data-mobile-menu-close
      >
        <svg width="18" height="18" class="icon">
          <use href="./images/icons.svg#icon-close-menu"></use>
        </svg>
      </button>
      <nav>
        <ul class="site-nav">
          <li class="site-nav__item">
            <a href="" class="link site-nav__link">Студия</a>
          </li>
          <li class="site-nav__item">
            <a href="./portfolio.html" class="link site-nav__link">Портфолио</a>
          </li>
          <li class="site-nav__item">
            <a href="" class="link site-nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div> -->
  </div>
</header>

<section class="sec">fhfhgh</section>
