<header class="page-header">
  <div class="container page-header__inner">
    <!-- add logo -->
    <a href="" class="logo page-header__logo">
      <picture>
        <source
          srcset="./images/header/logo.webp 2x, ./images/header/logo@2x.webp 1x"
          type="image/webp"
        />
        <source srcset="./images/header/logo@2x.png 2x" type="image/jpg" />
        <img
          width="199"
          height="50"
          class="page-header__image"
          src="./images/header/logo.png"
          alt="logo"
        />
      </picture>
    </a>

    <!-- add desktop-menu -->
    <div class="page-header__desktop-menu">
      <nav>
        <ul class="site-nav">
          <li class="site-nav__item">
            <a href="#pula" class="link site-nav__link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#advantages" class="link site-nav__link">About us</a>
          </li>
          <li class="site-nav__item">
            <a href="#about" class="link site-nav__link">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a href="#products" class="link site-nav__link">Our products</a>
          </li>
          <li class="site-nav__item">
            <a href="#contacts" class="link site-nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <button class="button page-header__button" data-modal-open>
        Buy now
        <svg width="8" height="9" class="icon button__icon button__icon--right">
          <use href="./images/sprite/icons.svg#icon-vector-right"></use>
        </svg>
      </button>
    </div>

    <!-- add tablet button -->
    <button class="button page-header__tablet-button" data-modal-open>
      Buy now
      <svg width="8" height="9" class="icon button__icon button__icon--right">
        <use href="./images/sprite/icons.svg#icon-vector-right"></use>
      </svg>
    </button>

    <!-- add open-menu button -->
    <button
      class="page-header__open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-mobile-menu-open
    >
      <picture>
        <source
          srcset="
            ./images/header/burger.webp    2x,
            ./images/header/burger@2x.webp 1x
          "
          type="image/webp"
        />
        <source srcset="./images/header/burger@2x.png 2x" type="image/jpg" />
        <img
          width="20"
          height="12"
          class="page-header__image"
          src="./images/header/burger.png"
          alt="open-menu"
        />
      </picture>
    </button>

    <!-- add mobile menu -->
    <div id="mobile-menu" class="mobile-menu is-hidden" data-mobile-menu>
      <button
        class="mobile-menu__close-menu"
        type="button"
        data-mobile-menu-close
      >
        <picture>
          <source
            srcset="
              ./images/header/close.webp    2x,
              ./images/header/close@2x.webp 1x
            "
            type="image/webp"
          />
          <source srcset="./images/header/close@2x.png 2x" type="image/jpg" />
          <img
            width="14"
            height="14"
            class="page-header__image"
            src="./images/header/close.png"
            alt="close-menu"
          />
        </picture>
      </button>
      <button class="button mobile-menu__button" data-modal-open>
        Buy now
        <svg width="8" height="9" class="icon button__icon button__icon--right">
          <use href="./images/sprite/icons.svg#icon-vector-right"></use>
        </svg>
      </button>
      <nav>
        <ul class="site-nav">
          <li class="site-nav__item">
            <a href="#pula" class="link site-nav__link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#advantages" class="link site-nav__link">About us</a>
          </li>
          <li class="site-nav__item">
            <a href="#about" class="link site-nav__link">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a href="#products" class="link site-nav__link">Our products</a>
          </li>
          <li class="site-nav__item">
            <a href="#contacts" class="link site-nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-button" data-modal-close>
      <svg width="18" height="18" class="icon">
        <use href="./images/sprite/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <div class="modal__inner">
      <h2 class="title modal__title">
        Оставьте свои данные, мы вам перезвоним
      </h2>
      <form name="form-modal" class="form">
        <div class="form-group">
          <label class="form-group__label" for="username">Имя</label>
          <div class="form-group__input-inner">
            <input
              class="form-group__input"
              type="text"
              name="username"
              id="username"
            />
            <svg width="18" height="18" class="icon form-group__icon">
              <use href="./images/sprite/icons.svg#icon-person-black"></use>
            </svg>
          </div>
        </div>

        <div class="form-group">
          <label class="form-group__label" for="tel">Телефон</label>
          <div class="form-group__input-inner">
            <input class="form-group__input" type="tel" name="tel" id="tel" />
            <svg width="18" height="18" class="icon form-group__icon">
              <use href="./images/sprite/icons.svg#icon-phone-black"></use>
            </svg>
          </div>
        </div>

        <div class="form-group">
          <label class="form-group__label" for="mail">Почта</label>
          <div class="form-group__input-inner">
            <input
              class="form-group__input"
              type="email"
              name="mail"
              id="mail"
            />
            <svg width="18" height="18" class="icon form-group__icon">
              <use href="./images/sprite/icons.svg#icon-email-black"></use>
            </svg>
          </div>
        </div>

        <div class="form-group-textarea">
          <label class="form-group__label" for="comment">Комментарий</label>
          <textarea
            class="form-group-textarea__textarea"
            name="comment"
            id="comment"
            placeholder="Введите текст"
          ></textarea>
        </div>

        <label class="form__label-checkbox">
          <input
            class="form__input-checkbox"
            type="checkbox"
            name="agreement"
          />
          <span class="form__icon-checked"></span>
          Соглашаюсь с рассылкой и принимаю
          <a href="" class="form__link">Условия договора</a>
        </label>
        <div class="form__submit">
          <button type="submit" class="button form__button">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<section class="sec">fhfhgh</section>
<section id="pula">fghfjkghlkjfgklhjgkjflkghjgklhj</section>
