<section class="hero">
    <div class="container hero__container">
        <div class="hero__ice-cream-thump">
            <div class="hero__circle"></div>
            <div class="hero__ice-cream"></div>
        </div>
        <h1 class="title hero__title hero__title--margin-bottom">Ice cream made with <span class="hero__title hero__title--red-text">passion</span></h1>
        <div class="hero__action-buttons">
            <button class="button hero__button hero__button--margin hero__button--product">Products</button>
            <button class="button hero__button hero__button--margin">How it's made?</button>
        </div>
    </div>
</section>