<section class="section products" id="products">
  <div class="container">
    <span class="title title--smaller products__smaller">100% natural</span>
    <h2 class="title products__title">products</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <div class="products-list__container products-list__container--pink">
          <h3 class="products-list__title">ice cream</h3>
          <span class="products-list__holder">
            <span class="products-list__figure"></span>
          </span>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products-list__btn">
            <picture>
              <source
                srcset="
                  /src/images/products/arrow-right.webp    2x,
                  /src/images/products/arrow-right@2x.webp 1x
                "
                type="image/webp"
              />
              <source
                srcset="./images/products/arrow-right@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__picture"
                width="40"
                height="40"
                src="./images/products/arrow-right.png"
                alt="product information"
              />
            </picture>
            <span
              class="products-list__hidden-text animate__animated animate__bounceIn"
            >
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </span>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__container products-list__container--yellow">
          <h3 class="products-list__title">ice coffee</h3>
          <span class="products-list__holder">
            <span class="products-list__figure"></span>
          </span>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products-list__btn">
            <picture>
              <source
                srcset="
                  /src/images/products/arrow-right.webp    2x,
                  /src/images/products/arrow-right@2x.webp 1x
                "
                type="image/webp"
              />
              <source
                srcset="./images/products/arrow-right@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__picture"
                width="40"
                height="40"
                src="./images/products/arrow-right.png"
                alt="product information"
              />
            </picture>
            <span
              class="products-list__hidden-text animate__animated animate__bounceIn"
            >
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </span>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__container products-list__container--green">
          <h3 class="products-list__title">milkshakes</h3>
          <span class="products-list__holder">
            <span class="products-list__figure"></span>
          </span>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products-list__btn">
            <picture>
              <source
                srcset="
                  /src/images/products/arrow-right.webp    2x,
                  /src/images/products/arrow-right@2x.webp 1x
                "
                type="image/webp"
              />
              <source
                srcset="./images/products/arrow-right@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__picture"
                width="40"
                height="40"
                src="./images/products/arrow-right.png"
                alt="product information"
              />
            </picture>
            <span
              class="products-list__hidden-text animate__animated animate__bounceIn"
            >
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
