.button {
  padding-left: 37px;
  padding-right: 37px;
  min-height: 44px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: 0;
  background-color: var(--main-background-color);
  color: var(--accent-color);
  text-align: center;
  border-radius: 22px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--hover-bg-color-button);
  }

  &__icon {
    &--right {
      margin-left: 12px;
    }
  }
}
