.footer {
    width: 100%;
    padding-bottom: 3px;
    padding-top: 20px;

    @media screen and (min-width: 768px) {
        padding-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 4px;
    }

    background-color: var(--secondary-background-color);

    &__container {
        margin-bottom: 16px;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 40px;

        @media screen and (min-width: 768px) {
            display: flex;
            margin-bottom: 8px;
            padding-left: 20px;
            padding-right: 20px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 7px;
            padding-bottom: 60px;
        }
    }

    &__text-small {
        text-align: left;

        @media screen and (max-width:767px) {
            font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 16px;
        }

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            margin-bottom: 12px;
        }

        @media screen and (min-width:1200px) {
            margin-bottom: 16px;
        }
    }

    &__text-big {
        @media screen and (min-width:1200px) {
            width: 475px;
            font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 57px;
            line-height: 1.14;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
    }

    &__contact {
        @media screen and (min-width: 768px) {
            padding-top: 60px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 12px;
        }
    }

    // &__copydiv {}

    &__copy {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 0.02;
        color: var(--secondary-text-color);

        @media screen and (min-width: 768px) {
            width: 280px;
            line-height: 1.86;
        }
    }
}

.text1 {
    text-align: left;
    margin-bottom: 40px;

    @media screen and (max-width:767px) {
        width: 232px;
    }

    @media screen and (min-width:768px) {
        width: 340px;
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-right: auto;
    }

    @media screen and (min-width:1200px) {
        width: 477px;
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }
}

.text2 {
    @media screen and (max-width:767px) {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

    @media screen and (min-width:768px) {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    @media screen and (min-width:1200px) {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}

.address__link {
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 12px;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    &:hover,
    &:focus {
        color: var(--bg-color-link-socials);
    }
}

.social-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

    &__link {
        color: var(--bg-color-link-socials);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }
}

.tel {
    text-align: right;
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 12px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}