.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 28%, #ffffff 28%);
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #fff5f6 53%, #ffffff 53%);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom, #fff5f6 26%, #ffffff 26%);
  }

  &__img {
    border-radius: 8px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      border-radius: 20px;
    }
  }

  &__container {
    margin-left: auto;
    margin-right: auto;

    min-height: 136px;
    width: 320;

    @media screen and (min-width: 768px) {
      min-height: 327px;
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      min-height: 430px;
      width: 1013px;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;

  @media screen and (min-width: 768px) {
    gap: 6px;
  }

  @media screen and (min-width: 1200px) {
    gap: 9px;
  }
}

.grid-item {
  flex-basis: calc((100% - 3px * 5) / 7);
  transition: transform 500ms linear;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6px * 5) / 7);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8px * 5) / 7);
  }
}

.grid-item--position1 {
  transform: translateY(50%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateY(50%) rotateY(180deg);
  }
}

.grid-item--position2 {
  transform: translateY(10%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateY(10%) rotateY(180deg);
  }
}

.grid-item--position3 {
  transform: translateY(0%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateY(0%) rotateY(180deg);
  }
}

.grid-item--position4 {
  transform: translateY(25%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateY(25%) rotateY(180deg);
  }
}

.grid-item--position5 {
  transform: translateY(-5%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateY(-5%) rotateY(180deg);
  }
}

.grid-item--position6 {
  transform: translateY(55%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateY(55%) rotateY(180deg);
  }
}

.grid-item--position7 {
  transform: translateX(107%) translateY(-43%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateX(107%) translateY(-43%) rotateY(180deg);
  }
}

.grid-item--position8 {
  transform: translateX(107%) translateY(-2%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateX(107%) translateY(-2%) rotateY(180deg);
  }
}

.grid-item--position9 {
  transform: translateX(207%) translateY(-28%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateX(207%) translateY(-28%) rotateY(180deg);
  }

  @media screen and (min-width: 1200px) {
    transform: translateX(204%) translateY(-26%) rotateY(0deg);

    &:hover,
    &:focus {
      transform: translateX(204%) translateY(-26%) rotateY(180deg);
    }
  }
}

.grid-item--position10 {
  transform: translateX(207%) translateY(-56%) rotateY(0deg);

  &:hover,
  &:focus {
    transform: translateX(207%) translateY(-56%) rotateY(180deg);
  }

  @media screen and (min-width: 1200px) {
    transform: translateX(203%) translateY(-56%) rotateY(0deg);

    &:hover,
    &:focus {
      transform: translateX(203%) translateY(-56%) rotateY(180deg);
    }
  }
}

.grid-item--width2 {
  flex-grow: 2;
}
