.products {
  padding-top: 60px;
  padding-bottom: 60px;
  &--smaller {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 18px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 16px;
    }
  }
  &__title {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
.products-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    &__item {
      margin-right: 16px;
    }
  }
  @media screen and (min-width: 768px) {
    &__item:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item {
      margin-right: 32px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item:last-child {
      margin-right: 0;
    }
  }
  &__container {
    border-radius: 24px;
    display: inline-block;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 280px;
      height: 489px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 224px;
      height: 473px;
    }
    @media screen and (min-width: 1200px) {
      width: 368px;
      height: 535px;
    }
  }
  &__container--pink {
    background-color: var(--color-hero-elips-and-label-and-time);
    position: relative;
    margin-top: 140px;
  }
  &__container--pink::before {
    display: inline-block;
    content: '';
    width: 280px;
    height: 280px;
    background-image: url(/src/images/products/ice_cream320.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -140px;
    animation: shakeX;
    animation-duration: 5s;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(/src/images/products/ice_cream320@2x.png);
    }
  }
  @media screen and (min-width: 768px) {
    &__container--pink {
      background-color: var(--color-hero-elips-and-label-and-time);
      position: relative;
      margin-top: 138px;
    }
  }
  @media screen and (min-width: 768px) {
    &__container--pink::before {
      display: inline-block;
      content: '';
      width: 224px;
      height: 224px;
      background-image: url(/src/images/products/ice_cream768.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -138px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        background-image: url(/src/images/products/ice_cream768@2x.png);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    &__container--pink {
      background-color: var(--color-hero-elips-and-label-and-time);
      position: relative;
      margin-top: 261px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__container--pink::before {
      display: inline-block;
      content: '';
      width: 368px;
      height: 394px;
      background-image: url(/src/images/products/ice_cream1200.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -261px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        background-image: url(/src/images/products/ice_cream1200@2x.png);
      }
    }
  }
  &__container--yellow {
    background-color: var(--bg-color-ice-coffe-and-cafe);
    position: relative;
    margin-top: 140px;
  }
  &__container--yellow::before {
    display: inline-block;
    content: '';
    width: 280px;
    height: 280px;
    background-image: url(/src/images/products/ice_coffee320.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -140px;
    animation: shakeX;
    animation-duration: 5s;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(/src/images/products/ice_coffee320@2x.png);
    }
  }
  @media screen and (min-width: 768px) {
    &__container--yellow {
      background-color: var(--bg-color-ice-coffe-and-cafe);
      position: relative;
      margin-top: 138px;
    }
  }
  @media screen and (min-width: 768px) {
    &__container--yellow::before {
      display: inline-block;
      content: '';
      width: 224px;
      height: 224px;
      background-image: url(/src/images/products/ice_coffee768.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -138px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        background-image: url(/src/images/products/ice_coffee768@2x.png);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    &__container--yellow {
      background-color: var(--bg-color-ice-coffe-and-cafe);
      position: relative;
      margin-top: 261px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__container--yellow::before {
      display: inline-block;
      content: '';
      width: 368px;
      height: 394px;
      background-image: url(/src/images/products/ice_coffee1200.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -261px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        background-image: url(/src/images/products/ice_coffee1200@2x.png);
      }
    }
  }
  &__container--green {
    background-color: var(--bg-color-milkshakes-and-food-truck);
    position: relative;
    margin-top: 140px;
  }
  &__container--green::before {
    display: inline-block;
    content: '';
    width: 280px;
    height: 280px;
    background-image: url(/src/images/products/milkshakes320.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -140px;
    animation: shakeX;
    animation-duration: 5s;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(/src/images/products/milkshakes320@2x.png);
    }
  }
  @media screen and (min-width: 768px) {
    &__container--green {
      background-color: var(--bg-color-milkshakes-and-food-truck);
      position: relative;
      margin-top: 138px;
    }
  }
  @media screen and (min-width: 768px) {
    &__container--green::before {
      display: inline-block;
      content: '';
      width: 224px;
      height: 224px;
      background-image: url(/src/images/products/milkshakes768.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -138px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        background-image: url(/src/images/products/milkshakes768@2x.png);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    &__container--green {
      background-color: var(--bg-color-milkshakes-and-food-truck);
      position: relative;
      margin-top: 261px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__container--green::before {
      display: inline-block;
      content: '';
      width: 368px;
      height: 394px;
      background-image: url(/src/images/products/milkshakes1200.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -261px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        background-image: url(/src/images/products/milkshakes1200@2x.png);
      }
    }
  }
  &__title {
    display: block;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-background-color);
    margin-top: 160px;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-top: 118px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 165px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;
    }
  }
  &__holder {
    position: relative;
    display: block;
  }
  &__holder::before,
  &__holder::after,
  &__figure {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--main-background-color);
    content: '';
  }
  &__holder::before {
    left: 137px;
  }
  @media screen and (min-width: 768px) {
    &__holder::before {
      left: 109px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__holder::before {
      left: 182px;
    }
  }
  &__holder::after {
    left: 127px;
  }
  @media screen and (min-width: 768px) {
    &__holder::after {
      left: 99px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__holder::after {
      left: 171px;
    }
  }
  &__figure {
    left: 147px;
  }
  @media screen and (min-width: 768px) {
    &__figure {
      left: 119px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__figure {
      left: 192px;
    }
  }
  &__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    display: inherit;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--main-background-color);
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      line-height: 176%;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 176%;
      padding-left: 62px;
      padding-right: 62px;
      margin-bottom: 60px;
    }
  }

  &__btn {
    position: relative;
    border: none;
    background: none;
    margin: 0 auto;
    display: block;
  }

  &__hidden-text {
    width: 150px;
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.5;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
    position: absolute;
    top: 110%;
    right: -50px;

    @media screen and (min-width: 1200px) {
      width: 200px;
      font-size: 16px;
      right: -70px;
    }

    .products-list__btn:hover &,
    .pdoucts-list__btn:focus-within & {
      display: block;
    }
  }

  &__picture {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: rotate(90deg);
    }
  }
}
